@model IEnumerable<StoreWebApp.Models.CartItem>


@{
    ViewData["Title"] = "Shop";
}

@if (Model.Any())
{
    <div class="alert alert-danger alert-dismissible fade @ViewBag.ShowAlert" id="alert">
        <strong>
            @ViewBag.RemovedItem <span>(x</span>@ViewBag.RemovedCount)
        </strong> removed from shopping cart!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <table class="table align-middle" id="cart">
        <thead>
        <tr>
            <th colspan="5">Shopping cart content</th>
        </tr>

        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    <button class="btn" type="button" name="button" 
                            onclick="location.href='@Url.Action("DeleteItem", "Shop", new {articleId = item.Article.ID})'">
                        <img src="/image/bin.svg" width="30" height="30" alt=""/>
                    </button>
                </td>
                <td class="align-middle">
                    <div class="img-cart-parent">
                        @{ var imgPath = string.IsNullOrEmpty(item.Article.ImagePath) ? "/image/no-image.png" : "/upload/" + item.Article.ImagePath; }
                        <div class="img-cart-child">
                            <img src=@imgPath alt=""/>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <div id="description">
                        <span>
                            @Html.DisplayFor(modelItem => item.Article.Name)
                        </span>
                        <br/>
                        <span style="color:gray">
                            @Html.DisplayFor(modelItem => item.Article.Category.Name)
                        </span>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="quantity" style="text-align:center;vertical-align:central;">
                        <button class="btn" type="button" name="button"  
                                onclick="location.href='@Url.Action("ItemCountUpdate", "Shop", new {
                                                            articleId = item.Article.ID,  wasAdded = true})'">
                            <img src="/image/plus.svg" alt=""/>
                        </button>

                        <span style="font-size:large">@Html.DisplayFor(modelItem => item.Count)</span>

                        <button class="btn" type="button" name="button" 
                                onclick="location.href='@Url.Action("ItemCountUpdate", "Shop", new {
                                                            articleId = item.Article.ID, wasAdded = false})'">
                            <img src="/image/minus.svg" alt=""/>
                        </button>
                    </div>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Article.Price)
                </td>
            </tr>
        }
        </tbody>
        <thead>
        <tr>
            <th colspan="4">Total:</th>
            <th>@ViewBag.Total</th>
        </tr>
        </thead>
    </table>
}
else
{
    <h2>Shopping Cart is empty!</h2>
}

<style>
    .img-cart-parent {
        width:100px!important;
        height:100px!important;
        overflow:hidden;
        display: table;
    }
    
    .img-cart-child {
        display: table-cell; 
        vertical-align: middle;
    }
    
    .img-cart-child > img {
        max-width: 100px;
        height: auto;
    }
</style>